KeyError: 'description' in return of scim command line

`/opt/jans/jans-cli/scim-cli.py --info [task]` this command line show error at the end as below:

```
root@testjans:~# /opt/jans/jans-cli/scim-cli.py --info User

Operation ID: get-users
  Description: Query User resources (see section 3.4.2 of RFC 7644)
  Parameters:
  attributes: A comma-separated list of attribute names to return in the response [string]
  excludedAttributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list) [string]
  filter: An expression specifying the search criteria. See section 3.4.2.2 of RFC 7644 [string]
  startIndex: The 1-based index of the first query result [integer]
  count: Specifies the desired maximum number of query results per page [integer]
  sortBy: The attribute whose value will be used to order the returned responses [string]
  sortOrder: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending" [string]
Operation ID: create-user
  Description: Allows creating a User resource via POST (see section 3.3 of RFC 7644)
  Parameters:
  attributes: A comma-separated list of attribute names to return in the response [string]
  excludedAttributes: When specified, the response will contain a default set of attributes minus those listed here (as a comma-separated list) [string]
  Schema: /components/schemas/UserResource
  Schema: /components/schemas/UserResource
Operation ID: get-user-by-id
  Description: Retrieves a User resource by Id (see section 3.4.1 of RFC 7644)
  url-suffix: id
Traceback (most recent call last):
  File "/opt/jans/jans-cli/scim-cli.py", line 1619, in <module>
    cliObject.help_for(args.info)
  File "/opt/jans/jans-cli/scim-cli.py", line 1313, in help_for
    desc = param['description']
  File "/usr/lib/python3/dist-packages/ruamel/yaml/comments.py", line 747, in __getitem__
    return ordereddict.__getitem__(self, key)
KeyError: 'description'
```


closed by commit https://github.com/JanssenProject/jans-cli/commit/52960e82b1253c937ba7ad2301135b2537c6959a